body{
  margin: 0;
  padding: 0;
  background-color: white;
}
.main{
  display: flex;
  background-color: rgb(226, 226, 226);
}
.textarea{
  background-color: transparent;
  width: 50%;
  height: 93vh;
  padding: 20px;
  font-size: 1rem;
  outline: none;
  resize: horizontal;
}
#preview{
  resize: horizontal;
  margin-left: 5px;
  border: 2px solid black;
  width: 50%;
  overflow-y: scroll;
  overflow-x: scroll;
  height: 93vh;
  padding: 20px;
  outline: none;
}